<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  </head>

  <body>
    <div id="courses">
      <div id="leftCourses">
        <h2>Add Courses</h2>
        <div id="textInputs">
          <input type="text" id="deptCode" placeholder="Department Code (e.g. CPSC)">
          <input type="text" id="courseCode" placeholder="Course Code (e.g. 310)">
          <input type="text" id="sectionCode" placeholder="Section Code (e.g. 101)">
        </div>
        <button id="addCourseBtn">Add Course</button>
      </div>
      <div id="courseList">
        <table id="courseTable" class="hidden">
          <tr>
            <th>Department Code</th>
            <th>Course Code</th>
            <th>Section Code</th>
            <th>Remove Course</th>
          </tr>
        </table>
      </div>
      <button id="getStudentsButton">Find course-mates!</button>
    </div>
    <div id="students">
      <h2>Course Mates</h2>
      <div id="studentList">
        <!-- Student information will be listed here -->
        <ul id="studentOrderedList"></ul>
      </div>
      <!-- Student information will be listed here -->
      <ul id="studentOrderedList"></ul>
    </div>
  </body>
</html>
