<!DOCTYPE html>
<html>

  <head>
    <title>CourseMate</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css"></link>
    



  </head>

  <body>

<!--    <link rel="icon" type="images/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='static/images/favicon.ico') }}">-->
    
    <div class="intro_page">
      <img class="mainlogo" width="500px" height="500px" src="static/images/logo.png">

    <a class="button" href="/login">
      <!-- <img class="button_icon" width="40px" height="40px" src=""> -->
      <span class="button_text">Log In</span>
  </a>

  <a class="button" href="/signup">
      <!-- <img class="button_icon" width="40px" height="40px" src=""> -->
      <span class="button_text">Sign Up</span>
  </a>

  <div class="container_bottom">
    <span class="psw2"><a href="#">Forgot password?</a></span>
  </div>

  </body>
    
    </div>
    
</html>
